.prososser {
    background-color: #fff;
    border-radius: 15px;
    .btn_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 30px 8px;
        h3 {
            font-size: 20px;
        }
    }
    .block_radius_map {
        display: flex;
        gap: 10px;
        img {
            width: 100%;
        }
    }
}
