.react-datepicker {
  display: grid !important;
  border: none !important;
  width: 100% !important;
  padding: 0 20px;
}
.react-datepicker__current-month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  color: #222222;
  padding: 0.5rem 0;
}
.react-datepicker__header {
  background-color: transparent !important;
}

.react-datepicker__navigation--next {
  right: 100px !important;
}
.react-datepicker__navigation--previous {
  left: 100px !important;
}
.react-datepicker__navigation-icon::before {
  border-color: #000 !important;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.react-datepicker__week {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
