.Login{
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.Login__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
}
.Login__container input{
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    outline: none;
    border: 1px solid #ccc;
}   

.Login__container label {
    display: grid;
    gap: 10px;
}
.Login__container label p{
    font-size: large;
}

.Login__container button {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    outline: none;
}

.Login__input--error{
    border: 1px solid red !important;

}
.Login__p{
    font-size:  small !important;
    color: red;
}