.search_modal {
    position: fixed;
    top: 150px;
    right: 540px;
    width: 400px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    .search_all {
        display: grid;
        row-gap: 30px;
    }
    .search_title {
        display: flex;
        justify-content: center;
        h3 {
            padding-top: 30px;
            font-family: "Montserrat", sans-serif;
        }
    }
    .MdDelete {
        display: grid;
        row-gap: 5px;
        justify-content: center;
        .Delete {
            display: flex;
            justify-content: center;
            font-family: "Montserrat", sans-serif;
        }
        h4 {
            width: 230px;
            text-align: center;

            font-family: "Montserrat", sans-serif;
        }
    }
    .search_button {
        display: grid;
        row-gap: 5px;
        padding: 0 40px;
        .btn1 {
            padding: 10px 30px;
            border-radius: 5px;
            background: #dc3545;
            color: #fff;
            border: #dc3545;
            font-family: "Montserrat", sans-serif;
            
        }
        .btn2 {
            padding: 10px 30px;
            border-radius: 5px;
            background: #007bff;
            border: #007bff;
            color: #fff;
            font-family: "Montserrat", sans-serif;
        }
    }
}
