.cart_block_width {
    padding: 1.875rem;
    background: #fff;
    border-radius: 10px;
    .flex_img {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 621px) {
            flex-direction: column;
        }
        .img_flexx {
            display: flex;
        }
        .btn4 {
            @media (max-width: 621px) {
                display: flex;
                justify-content: start;
                align-items: center;
            }
        }
        img {
            width: 100px;
            height: 100px;
            border-radius: 15px;
        }
        .grid_text {
            width: 183px;
            margin-left: 1.5rem;
            h3 {
                line-height: 1.5;
                font-size: 1.5rem;
            }
            p {
                font-size: 14px;
                font-weight: 600;
                color: #f93a0b;
                margin-bottom: 1rem;
            }
            span {
                font-size: 12px;
                font-weight: 400;
                color: #888;
                .icon {
                    width: 9px;
                    height: 12px;
                    margin: 0px 3.5px 0px 0px;
                }
            }
        }
    }
    .static {
        .box {
            display: flex;
        }
    }
    .width_hr {
        display: grid;
        row-gap: 40px;
        margin-top: 30px;
        .list_styk {
            width: 250px;
            display: flex;
            justify-content: space-between;
            li {
                list-style: none;
            }
            @media (max-width: 700px) {
                width: 100%;
                align-items: center;
            }
        }
    }
}
.flex_wrap {
    .btn4 {
        text-align: right;
        max-width: 236px;
        width: 100%;
        height: 70px;
        margin-top: 1rem;
        a {
            // padding: 20px 40px ;
            background-color: #f93a0b;
            color: #fff;
            padding: 0.65rem 1.25rem;
            border-radius: 0.5rem;
            font-weight: 500;
            font-size: 0.9375rem;
            text-decoration: none;
        }
    }
}
.Skills {
    display: flex !important;
    @media (max-width: 700px) {
        display: grid !important;
    }
}
.w100p {
    width: 240px;
    height: 8px;
    background-color: #e6dfdf;
    border-radius: 10px;
    @media (max-width: 700px) {
        width: 100%;
        background-color: #cac7c7 !important;
    }
}
.w80p_fley {
    width: 210px;
    height: 8px;
    background-color: #d5d3d3;
    border-radius: 10px;
    @media (max-width: 700px) {
        width: 80% !important;
    }
}
.w80p_blue {
    width: 160px;
    height: 8px;
    background-color: #1d92df;
    border-radius: 10px;
    @media (max-width: 700px) {
        width: 50% !important;
    }
}
.w80p_agua {
    width: 200px;
    height: 8px;
    background-color: #3772fe;
    border-radius: 10px;
    @media (max-width: 700px) {
        width: 70% !important;
    }
}
