.heitgt_red {
    width: 4px;
    height: 100px;
    background-color: #f93a0b;
}
.flex_setting {
    display: flex;
    gap: 10px;  
}
.heitgt_agua {
    width: 4px;
    height: 120px;
    background-color: #d653c1;
}
.grid_row {
    display: grid;
    row-gap: 30px;
}
.flex_title, .flex_titles {
    small {
        font-size: 0.75rem;
        display: block;
        margin-bottom: 0.3125rem;
        opacity: 0.8;
        letter-spacing: 0.0625rem;
    }
    h5 {
        font-weight: 600;
        font-size: 0.938rem;
        line-height: 1.5;
    }
}
