.draggable {}

.d_background {
  margin-bottom: 1.875rem;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  position: relative;
  border: 0rem solid transparent;
  border-radius: 0.5rem;
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .draggable_title {
    h4 {
      line-height: 1.5;
      font-size: 40px;
      margin-top: 0;

      font-weight: 600;
    }

    p {
      line-height: 1.8;
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 14px;
      color: #8888;
    }
  }

  .draggable_block_title {
    display: grid;
    align-items: center;
    row-gap: 10px;
    gap: 15px;
    overflow-y: scroll;
    max-height: 60vh;

    .primary_block_1 {
      text-align: left;
      font-size: 16px;
      border-color: #f93a0b1a;
      display: flex;
      align-items: center;
      background-color: #f93a0b1a;
      padding: 10px 10px;
      border-radius: 5px;

      li {
        scrollbar-width: thin;
        color: #f93a0b;
        text-align: left;
        font-size: 16px;
        list-style: none;
      }

      .primary_btn {
        display: block;
        width: 0.875rem;
        min-width: 0.875rem;
        height: 0.875rem;
        border-radius: 50%;
        margin-right: 0.9rem;
        position: relative;
        top: 0.125rem;
        background-color: #f93a0b;
      }
    }

    tr {
      border-bottom: 1px solid #f93a0b1a;
      display: grid;
      justify-content: space-between;
      gap: 10px;
      grid-template-columns: 50% 1fr 1fr;
      border-bottom: 0.5px solid #ECECEC;
      padding-bottom: 15px;

      td:nth-of-child(1) {
        font-size: 14px;
        font-weight: 400;
        line-height: 17.24px;
        text-align: left;
        color: #000 !important;

      }

      td {
        font-size: 14px;
        font-weight: 400;

        line-height: 17.24px;
        text-align: left;
        color: #C7C7C7;
        display: grid;

        align-items: center;
      }
    }

    .tableHad {
      td {
        font-size: 14px;
        font-weight: 400;
        line-height: 17.24px;
        text-align: left;
        color: #AEAEAE !important;

      }
    }
  }


  .draggable_checkbox {
    display: flex;
    gap: 20px;
    // padding: 0;
    // padding-left: 1.5em;
    // padding-top: 1rem !important;
    // padding-bottom: 0.5rem !important;
    min-height: 1.3125rem;
    // padding-left: 1.5em;
    margin-bottom: 0.125rem;
    margin-top: 1.87rem;

    input {
      width: 18px;
      height: 18px;
    }

    p {
      // margin-left: 0.3125rem;
      // margin-top: 0.1875rem;
      line-height: 1.8;
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 14px;
      color: #8888;
    }
  }

  .draggable_button {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100% !important;
      padding: 0.65rem 1.25rem;
      border-radius: 0.5rem;
      font-weight: 500;
      font-size: 0.9375rem;
      background-color: #f93a0b;
      border-color: #f93a0b;
      color: #fff;
    }
  }
}


.draggable_block_title::-webkit-scrollbar {
  width: 10px;
}

.draggable_block_title::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.draggable_block_title::-webkit-scrollbar-thumb {
  background: #ff2424;
  border-radius: 20px;
  bottom: 3px solid #ff0202;
}


.filter {
  display: flex;
  justify-content: space-between;
  gap: 10px;
align-items: center;
  h4{
    font-size: 34px;
    font-weight: 400;
    line-height: 17.24px;
    text-align: left;
    color: #000 !important;
  }
  select {
    stroke: none;
    text-decoration: none;
    
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 17.24px;
    text-align: left;
    color:  #000;
    display: grid;
    align-items: center;
    padding: 0 10px;
  }
  @media screen and (max-width: 1429px) {
    
    select {
      font-size: 18px;
    }
    h4{
      font-size: 30px !important;
    }
    @media screen and  (max-width:433px) {

      select {
        font-size: 16px;
      }
      h4{
        font-size: 26px !important;
      }
    }
  }
}