.block_all_scroll {
    background: #fff;
    border-radius: 15px;
    .btn_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 30px 8px;
        h3 {
            font-size: 20px;
        }
        .flex_bread {
            display: flex;
            align-items: center;
            gap: 10px;
            button {
                display: flex;
                align-items: center;
                padding: 10px 20px;
                background-color: #fbe1da;
                color: #f93a0b;
                border: none;
                border-radius: 10px;
                font-size: 15px;
            }
            .icon_arrow {
                position: relative;
                left: 10px;
            }
        }
    }
    .grid_blocks {
        padding: 16px 30px 0;
        display: grid;
        row-gap: 20px;
        overflow-y: scroll;
        height: 380px;
    }
}
.view_button {
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 30px 0 0 0;
    button {
        font-size: 15px;
        padding: 10px 20px;
        color: #f93a0b;
        border: 1.4px solid #f93a0b;
        border-radius: 10px;
        background-color: #fff;
        margin-bottom: 20px;

        &:active {
            background-color: #f93a0b;
            color: #fff; 
        }
    }
}