.book_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    row-gap: 20px;
}

.book_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        text-align: left;
        color: #1c1c1c;
    }

    .book_btn {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 16px 8px 8px;
        background: #7384e8;
        border-radius: 12px;

        h5 {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: #fff;
        }
    }
}

.book_all {
    margin: 40px 0 0 0;
    display: grid;
    row-gap: 20px;
}