.data_modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    overflow: scroll;
    .arrow {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background-color: #145650;
    }
    .data_modal_title {
        width: 412px;
        height: 482px;
        background: #fff;
        border-radius: 10px;
        @media (max-width: 1080px) {
            width: 100%;
            height: 100%;
        }
        h4 {
            font-size: 1.25rem;
            font-weight: 600;
            padding: 1.5rem 1.875rem 1.25rem;
            display: flex;
            // justify-content: space-between;
            align-items: center;
        }
        li {
            list-style: none;
        }
        .block_context {
            padding: 14px 26px 26px;
            li {
                border-bottom: 1px dashed #888888;
                padding: 0.75rem 0;
                display: flex;
                align-items: center;
                label {
                    min-width: 140px;
                    display: inline-block;
                    color: #000;
                    font-size: 0.8375rem;
                    font-weight: 500;
                }
                p {
                    line-height: 1.8;
                    margin-bottom: 0 !important;
                    font-size: 12px;
                    color: #888888;
                }
            }
        }
    }
    .data_two_php {
        width: 728px;
        height: 999px;
        background: #ffffff;
        border-radius: 10px;
        @media (max-width: 1080px) {
            width: 100%;
            height: 100%;
        }
        .data_two_grid {
            display: grid;
            row-gap: 10px;
            border-color: var(--border);
            padding: 1.5rem 1.875rem 1.25rem;
            border-bottom: 0.4px solid #b2b0b0;
            .icon_text_flex {
                display: flex;
                span {
                    display: flex;
                    gap: 10px;
                    a {
                        margin-bottom: 0 !important;
                        font-size: 12px;
                        color: #888888;
                        text-decoration: none;
                    }
                }
            }
        }
        .card_body {
            padding: 1.875rem;
            h4 {
                font-size: 1.25rem;
                font-weight: 600;
                color: var(--text-dark);
                text-transform: capitalize;
            }
            .card_p {
                display: grid;
                row-gap: 10px;
                margin-top: 10px;
                p {
                    display: flex;
                    gap: 40px;
                    line-height: 1.9;
                    color: rgb(136, 136, 136);
                    display: block;
                    font-size: 13px;
                    font-weight: 400;
                    text-align: start;
                    width: 645.562px;
                    margin-bottom: 1rem;
                }
            }
        }
    }
    .data_flex {
        display: flex;
        justify-content: center;
        gap: 50px;
        @media (max-width: 1080px) {
            display: grid;
        }
    }
    .card_end {
        h4 {
            padding: 1.5rem 1.875rem 1.25rem;
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 1.5;
            margin: 0px 0px 14px;
        }
        .block_context2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 14px 26px 26px;
            li {
                border-bottom: 1px dashed #888888;
                padding: 0.75rem 0;
                display: flex;
                align-items: center;
                label {
                    min-width: 140px;
                    display: inline-block;
                    color: #000;
                    font-size: 0.8375rem;
                    font-weight: 500;
                }
                p {
                    line-height: 1.8;
                    margin-bottom: 0 !important;
                    font-size: 12px;
                    color: #888888;
                }
            }
        }
    }
    .span_flex {
        display: flex;
        justify-content: space-between;
        padding: 0 49px 0 30px;
        max-width: 745px;
        width: 100%;
        height: 61px;
        margin-bottom: 1px solid #44424288;
        span {
            border-color: #0000 !important;
            padding-top: 1.5rem !important;
            padding-bottom: 1.5rem !important;
            flex-wrap: wrap !important;
            line-height: 1.8;
            font-size: 12px;
            color: #888888;
        }
    }
    .hr_width {
        max-width: 670px;
        width: 100%;
        opacity: 0.7;
        margin-left: 30px;
    }
    .btn_primary {
        display: flex;
        margin: 30px 0 10px 20px;
        a {
            margin-left: 10px;
            text-align: center;
            padding: 0.65rem 1.25rem;
            border-radius: 0.5rem;
            font-weight: 500;
            font-size: 0.9375rem;
            background-color: #ffbf00;
            text-decoration: none;
            color: #ffffff;
            .icon3 {
                position: relative;
                top: 3px;
                right: 5px;
                font-weight: 600;
            }
        }
        .a_flex {
            background-color: #ffa755;
        }
        .a_flexs {
            background-color: #145650;
        }
    }
}
