.filterInput {
    display: grid;
    row-gap: 10px;
    input {
        width: 100%;
        padding: 0.375rem 0.75rem;
        border: 1px solid #e6e6e6;
        color: var(--text-dark);
        height: 2.85rem;
        background-color: var(--card);
        border-radius: 0.5rem;
        font-weight: 400;
        line-height: 1.5;
        outline: none;
        &:focus {
            border: 1px solid #f72b50;
        }
        &:active {
            transition: 0.2;
            border: 1px solid #f72b50;
        }
        @media(max-width:1280px){
            width: 80%;
            @media(max-width:578px){
                width: 100%;
            }
        }
    }
}
.filterSelect {
    width: 276px;
    padding: 0.3125rem 1.25rem;
    border: 1px solid #e6e6e6;
    color: var(--text-dark);
    height: 2.85rem;
    background-color: var(--card);
    border-radius: 0.5rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #888;
    @media(max-width:1280px){
        width: 80%;
        @media(max-width:578px){
            width: 100%;
        }
    }
}
.InputGrid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.875rem;
    @media (max-width: 1280px) {
        display: grid;  
        grid-template-columns: 1fr 1fr;
        @media (max-width: 578px) {
         grid-template-columns: 1fr;
         justify-content: center;
         @media(max-width:578px){
            padding: 0;
        }
        }
    }
}
.filterBntFlex {
    display: flex;
    align-items: center;
    margin: 30px 0 0 0;
    @media(max-width:1300px){
        display: grid;
        row-gap: 5px;
        @media(max-width:1280px){
            display: flex;
            @media(max-width:578px){
                padding: 0;
            }
        }
    }
    .btn {
        width: 84px;
        color: #fff;
        cursor: pointer;
        border-color: #f93a0b;
        background-color: #f93a0b;
        padding: 0.65rem 1.25rem;
        border-radius: 0.5rem;
        font-weight: 500;
        font-size: 0.9375rem;
        margin-right: 0.5rem !important;
    }
    .btn2 {
        width: 155px;
        background-color: rgba(247, 43, 80, 0.15);
        border-color: rgba(247, 43, 80, 0.15);
        color: #f72b50;
        cursor: pointer;
        padding: 0.65rem 1.25rem;
        border-radius: 0.5rem;
        font-weight: 500;
        font-size: 0.9375rem;
    }
}
.filterbtn {
    margin: 10px 0 0 0;
    button {
        color: #fff;
        font-size: 0.813rem !important;
        padding: 0.579rem 1rem;
        border-radius: 0.375rem;
        border-color: #f93a0b;
        background-color: #f93a0b;
    }
}

