.project_succes {
    padding: 3px 4.8px;
    color: #fff;
    background-color: #28a745;
    border: none;
    font-size: 12px;
    border-radius: 0.25rem;
    // @media (max-width: 400px) {
    //     padding: 10;
    // }
}
.project_button_green {
    padding: 4px 8px;
    background: #369208;
    font-size: 14px;
    border-radius: 40px;
    color: #fff;
    border-color: #369208;
    border-radius: 0.25rem;
    display: flex;
    gap: 2px;
}
.project_button_aqua {
    padding: 4px 8px;
    background: #17a2b8;
    font-size: 14px;
    color: #fff;
    border-color: #17a2b8;
    border-radius: 0.25rem;
    display: flex;
    gap: 2px;
}
.project_button_red {
    padding: 4px 8px;
    background: #dc3545;
    font-size: 14px;
    color: #fff;
    border-color: #dc3545;
    border-radius: 0.25rem;
    display: flex;
    gap: 2px;
}

.project_header {
    width: 100%;
    height: 50px;
    background: #fff;
    border: 0.3px solid rgba(0, 0, 0, 0.125);
}
.project_header_flex {
    display: flex;
    justify-content: space-between;
    padding: 15px 16px;
    .icons {
        display: flex;
        gap: 15px;
        opacity: 0.7;
    }
}
.project_width {
    // @media (max-width: 700px) {
    //     display: flex;
    //     flex-wrap: wrap;
    //     width: 0;
    //     height: 0;
    //     font-weight: 200;
    //     font-size: 8px;
    //     @media (max-width: 400px) {
    //         p {
    //             margin-left: -10px;
    //             padding: 10px 0;
    //             font-size: 10px;
    //         }
    //     }
    // }
}
.project_width_200 {
    padding: 16px;
    // @media (max-width: 700px) {
    //     @media (max-width: 400px) {
    //         p {
    //             padding: 10px 0;
    //             font-size: 15px;
    //         }
    //     }
    // }
}
.project_width300 {
    // @media (max-width: 800px) {
    // }
}
.project_flex_button {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 0 20px;
    // @media (max-width: 400px) {
    //     display: grid;
    //     row-gap: 3px;
    // }
    button {
        border-radius: 50px;
        margin: 5px 0;
        //     @media (max-width: 980px)
        //         margin: 0;
        //         padding: 0;

        //         @media (max-width: 400px) {
        //             padding: 4px 4px;
        //             position: relative;
        //             left: -10px;
        //             p {
        //                 display: none;
        //             }
        //         }
        //     }
        // }
        // @media (max-width: 780px) {
        //     // display: grid;
        //     padding: 0;
        //     margin-top: 8px;
    }
}
.padding {
    width: 0;
    // @media (max-width: 700px) {
    //     width: 0;
    //     height: 0;
    //     padding: 0;
    //     @media (max-width: 400px) {
    //         p {
    //             padding: 10px 0;
    //             font-size: 15px;
    //         }
    //     }
    // }
}
.section {
    display: flex;
    justify-content: end;
}

.section_block {
    display: flex;
    justify-content: center;
    // gap: 100px;
}
.tableResponsive {
    display: flex;
    @media (max-width: 1300px) {
        // overflow-x: scroll;
    }

    // @media (max-width: 400px) {
    //     p {
    //         font-size: 10px;
    //     }
    // }
}

.madal_button {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background: #f1f0f0;
    z-index: 50;
    .container {
        // max-width: 1280px;
        // width: 90%;
        // margin: 0 auto;
    }
    .modals_header {
        position: fixed;
        width: 100%;
        height: 50px;
        background: #fff;
        margin: 10px 0;
        .header_content {
            ul {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 15px 0;
                li {
                    list-style: none;
                    margin-bottom: 100px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .className {
        display: flex;
        align-items: center;
        gap: 40px;
        .sicon_shower {
            width: 50px;
            gap: 50px;
            background: #fff;
            border-radius: 50px;
        }
        input {
            border-radius: 100px;
            width: 30px;
            height: 30px;
        }
    }
}
.StyledTableRow {
    display: grid;
    row-gap: 30px;
}

.descriptions {
    width: 100%;
    height: 600px;
    .descriptions_content {
        display: grid;
        row-gap: 20px;
    }
}

.row_gap {
    display: grid;
    row-gap: 10px;
}

.search_modal {
    position: fixed;
    top: 150px;
    right: 540px;
    width: 400px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    .search_all {
        display: grid;
        row-gap: 30px;
    }
    .search_title {
        display: flex;
        justify-content: center;
        h3 {
            padding-top: 30px;
        }
    }
    .MdDelete {
        display: grid;
        row-gap: 5px;
        justify-content: center;
        .Delete {
            display: flex;
            justify-content: center;
        }
        h4 {
            width: 230px;
            text-align: center;
        }
    }
    .search_button {
        display: grid;
        row-gap: 5px;
        padding: 0 40px;
        .btn1 {
            padding: 10px 30px;
            border-radius: 5px;
            background: #dc3545;
            color: #fff;
            border: #dc3545;
        }
        .btn2 {
            padding: 10px 30px;
            border-radius: 5px;
            background: #007bff;
            border: #007bff;
            color: #fff;
        }
    }
}
.user_modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    overflow: scroll;

    .user_background {
        position: relative;
        width: 1100px;
        height: 1300px;
        top: 10px;
        left: 0;
        background: #fff;
        margin: 30px 0px 30px 100px;
        .user_window {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 26px;
            row-gap: 40px;
            column-gap: 30px;
            .block_grid {
                display: grid;
                row-gap: 10px;
            }
            input {
                width: 90%;
                height: 40px;
                padding: 9px 12px;
                font-size: 12px;
                border-radius: 10px;
                outline: #2099d6;

                border: 1px solid #b7b4b6;
                &:hover {
                    border: 1px solid #109f28;
                }
            }
            h3 {
                font-size: 16px;
                font-weight: 500;
                span {
                    color: #dc3545;
                }
            }
        }
    }
    .big_input {
        // display: block;
        textarea {
            width: 90%;
            height: 150px;
            background: #ffffff;
            border-radius: 10px;
            margin: 30px 30px 0 30px;
            outline: #dc3545;
            border: 1px solid #b7b4b6;
            &:hover {
                border: 1px solid #dc3545;
            }
        }
        h3 {
            font-size: 16px;
            font-weight: 500;
            padding-left: 30px;
            span {
                color: #dc3545;
            }
        }
    }
    .header_context {
        // width: 1100px;
        display: flex;
        margin: 100px 0 20px 100px;
        justify-content: space-between;
    }
    .all_icon {
        display: flex;
        gap: 10px;
        color: #fff;
        .div_icon {
            height: 2.8125rem;
            width: 2.8125rem;
            border-radius: 0.5rem;
            background-color: #145650;
            display: inline-flex;
            align-items: center;
            font-size: 1rem;
            justify-content: center;
            color: #fff;
        }
        .mail {
            color: #fff;
        }
    }
}
