.img_radius{
    padding: 1.875rem;
    text-align: center;
    line-height: 20px;
    h5{
        font-size: 16px;
        margin-bottom: 5px;
    }
    span{
        font-size: 14px;
        color: #8888;
    }
}