.Block_context_img {
    border-radius: 15px;
    background-color: #fff;
    .context_burger {
        display: flex;
        margin-left: 30px;

        align-items: center;
        padding-top: 30px;
        justify-content: space-between;
        h3 {
            font-size: 20px;
        }
        .icon_point {
            width: 24px;
            height: 24px;
            opacity: 0.5;
        }
    }
    .block_context_grid {
        display: grid;
        grid-template-columns: 2fr 2fr;
        row-gap: 30px;
        overflow-y: scroll;
        height: 400px;
        margin: 20px 0 30px 30px;
        @media(max-width:768px){
            grid-template-columns: 1fr;
        }
    }
    .border_bottom {
        width: 280px;
        height: 1px;
        background-color: #000;
    }
    .view_button {
        display: flex;
        align-items: end;
        justify-content: center;
        margin: 30px 0 0 0;
        button {
            font-size: 15px;
            padding: 10px 20px;
            color: #f93a0b;
            border: 1.4px solid #f93a0b;
            border-radius: 10px;
            background-color: #fff;
            margin-bottom: 20px;
            &:active {
                background-color: #f93a0b;
                color: #fff;
            }
        }
    }
}
