.grid_item{
    @media(max-width:800px){
       display: grid;
       grid-template-columns: 1fr 1fr;
       width: 100%;
    }
}
.masonry_grid{
    @media(max-width:800px){
        display: grid;
    }
}