.pages_block {
    width: 100%;

    .page_img {
        .page_edit {
            position: absolute;
            right: 10px;

            .edit {
                position: relative;
                top: 12px;
            }
        }

        .page_price {
            position: absolute;
            padding: 6px 20px 6px 14px;
            border-radius: 0px 6px 6px 0px;
            background: #ffffff4d;
            bottom: 12px;

            h4 {
                position: relative;
                font-size: 15px;
                font-weight: 500;
                line-height: 17.24px;
                text-align: left;
                color: #fff;
            }
        }
    }

    .page_block_back {
        background: #fff;
        width: 100%;
        padding: 10px 14px 10px 14px;
        border-radius: 0px 0px 10px 10px;

        .page_beetwen {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 322px;
            height: 36px;

            .page_grid {
                display: grid;
                row-gap: 4px;

                h4 {
                    font-family: Ubuntu;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 18.38px;
                    text-align: left;
                    opacity: 0.9;
                    color: #222222;
                }

                p {
                    font-family: Ubuntu;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 13.79px;
                    text-align: left;
                    color: #484848;
                }
            }

            small {
                font-size: 14px;
                font-weight: 400;
                line-height: 16.09px;
                text-align: left;
                color: #222222;
                opacity: 0, 9;
            }
        }
    }

    .page_block_end {
        margin: 10px 0 0 0;
        display: grid;
        row-gap: 10px;

        .page_block_flex {
            display: flex;
            justify-content: space-between;
            width: 114px;
        }

        .page_flex_beetwen {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 127px;
            height: 16px;

            h5 {
                padding: 2px 0 0 0;
                font-size: 13px;
                font-weight: 500;
                line-height: 14.94px;
                text-align: left;
                color: #222222;
            }

            .flex_beetwen {
                display: flex;
                gap: 2px;
                align-items: center;
            }
        }
    }
}

.page_block_big_img {
    position: relative;
    z-index: 0;
}

.big_img {
    width: 100%;
}