.Chart {
    background-color: #fff;
    border-radius: 15px;
    .chart_grid {
        .flex_text_button {
            padding: 30px 30px 30px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3 {
                font-size: 1.25rem;
                font-weight: 600;
                text-transform: capitalize;
                line-height: 1.5;
            }
            .flex_button {
                button {
                    border: 0;
                    border-radius: 0.2rem;
                    margin: 0;
                    padding: 0.7rem 1.425rem;
                    font-weight: 500;
                }
                .btn7 {
                    background-color: #f93a0b;
                    color: #fff;
                }
            }
        }
        .flex_button_context {
            nav {
                display: flex;
                gap: 20px;
                h5 {
                    display: flex;
                    align-items: center;
                    p {
                        font-size: 0.8125rem !important;
                        line-height: 1.5;
                        color: #32d87d;
                    }
                }
                li {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    button {
                        width: 13px;
                        height: 13px;
                        background-color: #f93a0b;
                        border: none;
                    }
                    .grey {
                        width: 13px;
                        height: 13px;
                        background-color: #807f7f;
                        border: none;
                    }
                }
            }
        }
        .margin_barchart {
            margin: 0 0 0 10px;
        }
    }
}
