.user_modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    overflow: scroll;
    .container {
        max-width: 1440px;
        width: 90%;
        margin: 0 auto;
    }
    .user_background {
        background: #fff;
        margin: 30px 80px 30px 100px;
        @media (max-width: 1280px) {
            // width: 100%;
            // height: 100%;
            margin: 20px 50px 20px 60px;
        }
        .card_footer {
            border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
            border-color: var(--border);
            background: transparent;
            padding: 1.25rem 1.875rem 1.25rem;
            text-align: right !important;
            width: 100%;
            height: 75px;
            border-top: 1px solid #8888;
            margin: 30px 0 0 0;
            .close {
                width: 83px;
                height: 39px;
                padding: 0.65rem 1.25rem;
                border-radius: 0.5rem;
                font-weight: 500;
                font-size: 0.9375rem;
                background-color: rgba(247, 43, 80, 0.15);
                border-color: rgba(247, 43, 80, 0.15);
                color: #f72b50;
                margin-right: 1rem !important;
                transition:
                    color 0.15s ease-in-out,
                    background-color 0.15s ease-in-out,
                    border-color 0.15s ease-in-out,
                    box-shadow 0.15s ease-in-out;
                :hover {
                    background-color: rgba(247, 43, 80, 0.15);
                }
            }
            .submit {
                width: 83px;
                height: 39px;
                border-color: #f93a0b;
                background-color: #f93a0b;
                padding: 0.65rem 1.25rem;
                border-radius: 0.5rem;
                font-weight: 500;
                font-size: 0.9375rem;
                color: #fff;
                transition:
                    color 0.15s ease-in-out,
                    background-color 0.15s ease-in-out,
                    border-color 0.15s ease-in-out,
                    box-shadow 0.15s ease-in-out;
            }
        }
        .user_window {
            // display: grid;
            // grid-template-columns: 1fr 1fr;
            padding: 26px;
            row-gap: 20px;
            column-gap: 30px;

            @media (max-width: 650px) {
                grid-template-columns: 1fr;
            }
            input {
                width: 100%;
            }
            .block_grid {
                display: grid;
                row-gap: 10px;
            }
            input {
                // width: 90%;
                // height: 40px;
                padding: 10px 12px;
                font-size: 12px;
                border-radius: 10px;
                outline: #2099d6;
                @media (max-width: 1280px) {
                    width: 100%;
                }
                border: 1px solid #b7b4b6;
                &:hover {
                    border: 1px solid #109f28;
                }
            }
            h3 {
                color: #312a2a;
                font-size: 0.8375rem;
                font-weight: 500;
                span {
                    color: #dc3545;
                }
            }
        }
    }
    .big_input {
        display: grid;
        row-gap: 5px;
        @media (max-width: 1200px) {
            width: 100%;
        }
        textarea {
            width: 100%;
            height: 230px;
            background: #ffffff;
            border-radius: 10px;
            outline: #145650;
            border: 1px solid #b7b4b6;
            &:hover {
                border: 1px solid #145650;
            }
        }
        h3 {
            font-size: 16px;
            font-weight: 500;
            padding: 0;
            span {
                color: #dc3545;
            }
        }
        .status {
            margin: 30px 0 0 0;
        }
    }
    .header_context {
        width: 1100px;
        display: flex;
        margin: 100px 0 20px 100px;
        justify-content: space-between;
    }
    .all_icon {
        display: flex;
        gap: 10px;
        color: #fff;
        .div_icon {
            height: 2.8125rem;
            width: 2.8125rem;
            border-radius: 0.5rem;
            background-color: #145650;
            display: inline-flex;
            align-items: center;
            font-size: 1rem;
            justify-content: center;
            color: #fff;
        }
        .mail {
            color: #fff;
        }
    }
}
.big_input {
    display: flex;
    margin: 30px 0 0 0;
    @media (max-width: 1200px) {
        // width: 100%;
    }
    h3 {
        font-size: 16px;
        font-weight: 500;
    }
    .status {
        display: flex;
        align-items: center;
        gap: 35px;
        h1 {
            font-size: 0.8375rem;
            color: #312a2a;
            font-weight: 500;
        }
        input {
            background-color: #f93a0b;
            border-color: #f93a0b;
            border-radius: 50%;
            background-size: cover;
            border-width: 0.125rem;
            width: 0.805rem;
            height: 0.805rem;
        }
        .flex_active {
            display: flex;
            align-items: center;
            p {
                width: 100px;
                font-size: 12px;
                color: #312a2a;
                font-weight: 500;
            }
        }
    }
    textarea {
        background: #ffffff;
        border-radius: 10px;
        outline: #145650;
        border: 1px solid #b7b4b6;
        resize: vertical;
        min-height: auto !important;
        height: auto !important;
        &:hover {
            border: 1px solid #145650;
        }
    }
    h3 {
        font-size: 16px;
        font-weight: 500;
        padding-left: 30px;
        span {
            color: #dc3545;
        }
    }
}
.option {
    font-weight: 400;
    color: #888888 !important;
}
.block_grid_all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 30px;
}
.widths {
}
