:root {
  --bg-color: white;
  --text-color: #333;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
}
p {
  font-family: "Ubuntu", sans-serif;
}

.wrapper {
  height: 100vh;
}

.css-1wvake5 {
  border-right-width: 0px !important;
}

.css-dip3t8 {
  background-color: transparent !important;
}

@media screen and (max-width: 768px) {
  .css-dip3t8 {
    background-color: #ffffff !important;
  }
}

.fc-event-main div {
  padding: 10px;
  background-color: red !important;
}
.fc-daygrid-dot-event div {
  background-color: red !important;
}

input[type="radio"] {
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  border: 2px solid #222222;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="date"] {
  position: relative;
  width: 0;
}
input[type="radio"]:checked {
  background-image: url("../src/img/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #222222;
  background-size: 22px 22px;
  background-color: var(--form-background);
}

input[type="checkbox"] {
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  background-color: black;
  border: 2px solid #222222;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  border: 2px solid #000000;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked::before {
  content: "✔";
  font-size: 16px;
  color: #000;
  text-align: center;
  line-height: 16px;
}

input[type="checkbox"]:checked {
  background-color: rgb(255, 255, 255);
}

.react-select__control .react-select__indicators .react-select__indicator-icon {
  content: "✔";
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 500px) {
  .fc-toolbar {
    display: grid !important;
    row-gap: 10px;
  }
  .fc-toolbar-title {
    font-size: 23px !important;
  }
}
.css-j204z7-MuiFormControlLabel-root {
  margin: 0 !important;
}
aside {
  z-index: 999 !important;
}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: #ffffff00;
  border-radius: 1px;
  bottom: 3px solid #d4d4d400;
}

.custom-background::before,
.custom-background::after,
.custom-background .circle1,
.custom-background .circle2 {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.custom-background::before {
  top: -75px;
  left: -50px;
}

.custom-background::after {
  top: -75px;
  right: -50px;
}

.custom-background .circle1 {
  bottom: -50px;
  left: -50px;
}

.custom-background .circle2 {
  bottom: -50px;
  right: -50px;
}
