:root {
  --bg-color: white;
  --text-color: #333;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
}
p {
  font-family: "Ubuntu", sans-serif;
}

.wrapper {
  height: 100vh;
}

.css-1wvake5 {
  border-right-width: 0px !important;
}

.css-dip3t8 {
  background-color: transparent !important;
}

@media screen and (max-width: 768px) {
  .css-dip3t8 {
    background-color: #ffffff !important;
  }
}

.fc-event-main div {
  padding: 10px;
  background-color: red !important;
}
.fc-daygrid-dot-event div {
  background-color: red !important;
}

input[type="radio"] {
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  border: 2px solid #222222;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"]:checked {
  background-image: url("../src/img/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #222222;
  background-size: 22px 22px;
  background-color: var(--form-background);
}

input[type="checkbox"] {
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  background-color: black;
  border: 2px solid #222222;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  border: 2px solid #000000;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked::before {
  content: "✔";
  font-size: 16px;
  color: #000;
  text-align: center;
  line-height: 16px;
}

input[type="checkbox"]:checked {
  background-color: rgb(255, 255, 255);
}

input {
  outline: none;
}

select {
  cursor: pointer;
  outline: none;
}





.frame {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  clip-path: polygon(1% 16%, 1% 83%, 97% 85%, 98% 17%, 7% 14%, 96% 14%, 15% 11%, 91% 10%, 91% 13%, 11% 13%, 19% 8%, 25% 5%, 82% 7%, 85% 10%, 95% 16%, 6% 15%, 33% 4%, 40% 4%, 44% 4%, 52% 4%, 60% 4%, 68% 5%, 72% 7%, 78% 7%, 4% 86%, 8% 87%, 13% 89%, 21% 92%, 30% 95%, 39% 98%, 47% 99%, 55% 98%, 67% 95%, 71% 94%, 81% 92%, 94% 89%, 95% 86%, 98% 81%, 98% 79%, 98% 75%, 98% 72%, 98% 69%, 98% 65%, 98% 62%, 98% 58%, 99% 52%, 99% 49%, 99% 45%, 99% 42%, 99% 35%, 98% 38%, 99% 32%, 98% 30%, 98% 27%, 98% 23%, 98% 19%, 98% 21%, 97% 18%, 95% 16%, 97% 15%, 93% 15%, 90% 13%, 93% 15%, 92% 16%);
}

/* Добавляем немного отступов внутри контейнера рамки */
.frame-container {
  padding: 16px;
}

/* Добавляем закругленные углы для изображения */

.frame img {
  border-radius: 5px;
}