:root {
  --bg-color: white;
  --text-color: #333;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  height: 100vh;
}

.css-1wvake5 {
  border-right-width: 0px !important;
}

.css-dip3t8 {
  background-color: transparent !important;
}

@media screen and (max-width: 768px) {
  .css-dip3t8 {
    background-color: #ffffff !important;
  }
}

.fc-event-main div {
  padding: 10px;
  background-color: red !important;
}
.fc-daygrid-dot-event div {
  background-color: red !important;
}

input[type="radio"] {
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  border: 2px solid #222222;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"]:checked {
  background-image: url("../src/img/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #222222;
  background-size: 22px 22px;
}

input[type="checkbox"] {
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  background-color: black;
  border: 2px solid #fff;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked::before {
  content: "✔";
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 16px;
}
