.homePage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;  
  padding: 10px;
}
.page{
  
    overflow-x: scroll;
    height: 100vh;
    position: fixed;
    width: -webkit-fill-available;
}

.HomePageBlock{
  display: flex;
  gap: 30px;
  flex-direction: column;
}