.payment_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    border-color: inherit;
    border-style: solid;
    height: 60px;
    td{
        color: #888;
        font-size: 13px;
    }
    th{
        color: #000;
        font-weight: 400;
    }
    .nomers{
        color: #6e6e6e;
        font-weight: 600;
        font-size: 14px;
    }
   
}